# === ENVIRONMENT VARIABLES ===
.env

# === PYTHON CACHE ===
__pycache__/
*.pyc
*.pyo
*.pyd

# === DJANGO MIGRATIONS CACHE ===
**/migrations/__pycache__/

# === VS CODE ===
.vscode/

# Ignore collected static files and user-uploaded media
staticfiles/

# === OS FILES ===
.DS_Store
Thumbs.db

# === DATABASE FILES ===
db.sqlite3
db.sqlite3.bak
data.json
