{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniStore</title>

    <!--Favicon Icon -->
    <link rel="icon" href="{% static 'images/favicon.ico.png' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static "store/payment_failed.css" %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <h2>Payment Failed!</h2>
    <p>Something went wrong with your payment. Please try again.</p>
    <a href="{% url 'checkout' %}" class="btn">Try Again</a>
</body>
</html>
